$breakpoints: (
  "phone": 760px,
  "tablet": 1024px,
  "desktop": 1920px,
) !default;

@import "../../node_modules/include-media/dist/include-media";

html {
  font-size: calc(100vw / 1512 * 10);
  @include media("<phone") {
    font-size: calc(100vw / 390 * 10);
    width: 100vw !important;
  }
  @include media(">=desktop") {
    font-size: calc(100vw / 2750 * 10);
  }
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

[desktop] {
  @include media("<phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

[mobile] {
  @include media(">=phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
